#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#include "resource.h"
#include "rconfig.h"
#include "app.h"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

//
// Accelerator resources
//
IDA_MAIN ACCELERATORS
BEGIN
	"A", IDM_SELECT_ALL, CONTROL, VIRTKEY, NOINVERT
	"C", IDM_COPY, CONTROL, VIRTKEY, NOINVERT
	VK_F1, IDM_ABOUT, VIRTKEY, NOINVERT
	VK_F5, IDM_REFRESH, VIRTKEY, NOINVERT
	VK_F11, IDM_ZOOM, VIRTKEY, NOINVERT
END

//
// Menu resources
//
IDM_MAIN MENU
{
	POPUP " "
	{
		MENUITEM " ", IDM_EXIT
	}
	POPUP " "
	{
		MENUITEM " ", IDM_ALWAYSONTOP_CHK
		MENUITEM " ", IDM_CHECKUPDATES_CHK
		MENUITEM SEPARATOR
		POPUP " "
		{
			MENUITEM " ", IDX_LANGUAGE
		}
	}
	POPUP " "
	{
		MENUITEM " ", IDM_WEBSITE
		MENUITEM " ", IDM_CHECKUPDATES
		MENUITEM " ", IDM_ABOUT
	}
}

IDM_LISTVIEW MENU
{
	POPUP " "
	{
		MENUITEM " ", IDM_COPY
		//MENUITEM "Copy value", IDM_COPY_VALUE
		//MENUITEM SEPARATOR
		//MENUITEM "Save to file...", IDM_SAVE_AS
	}
}

//
// Dialog resources
//
IDD_MAIN DIALOG 0, 0, 405, 250
STYLE WS_OVERLAPPEDWINDOW | WS_CLIPCHILDREN | WS_CLIPSIBLINGS | DS_SHELLFONT | DS_MODALFRAME | NOT WS_VISIBLE
CAPTION APP_NAME
MENU IDM_MAIN
FONT 8, "Ms Shell Dlg"
{
	CONTROL			"", IDC_ITEMLIST, WC_TREEVIEW, WS_TABSTOP | WS_BORDER | TVS_HASBUTTONS | TVS_FULLROWSELECT | TVS_LINESATROOT | TVS_SHOWSELALWAYS | TVS_INFOTIP | TVS_TRACKSELECT, 8, 8, 124, 220

	CONTROL			"", IDC_STATUSBAR, STATUSCLASSNAME, 0, 0, 0, 0, 0
}

IDD_PAGE_PING DIALOG 0, 0, 258, 220
STYLE DS_SHELLFONT | WS_CHILDWINDOW | NOT WS_VISIBLE
FONT 8, "MS Shell Dlg"
{
	LTEXT			"Address:", IDC_STATIC, 0, 2, 196, 8, SS_LEFT
	EDITTEXT		IDC_PING_HOST, 0, 14, 196, 14, ES_AUTOHSCROLL

	LTEXT			"Retries:", IDC_STATIC, 202, 2, 54, 8, SS_LEFT
	EDITTEXT		IDC_PING_RETRIES, 202, 14, 54, 14, ES_AUTOHSCROLL | ES_NUMBER
	CONTROL			"", IDC_PING_UPDOWN, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_NOTHOUSANDS | UDS_SETBUDDYINT | UDS_WRAP, 0, 0, 0, 0

	CONTROL			"", IDC_PING_RESULT, WC_LISTVIEW, WS_VISIBLE | WS_TABSTOP | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS | LVS_AUTOARRANGE, 0, 34, 258, 168

	DEFPUSHBUTTON	"Start", IDC_PING_START, 154, 206, 50, 14
	PUSHBUTTON		"Clear", IDC_PING_CLEAR, 208, 206, 50, 14
}

IDD_PAGE_SPEEDMETER DIALOG 0, 0, 272, 220
STYLE DS_SHELLFONT | WS_CHILDWINDOW | NOT WS_VISIBLE
FONT 8, "MS Shell Dlg"
{
	LTEXT			"Link:", IDC_STATIC, 0, 2, 196, 8, SS_LEFT
	EDITTEXT		IDC_SPEEDMETER_LINK, 0, 14, 196, 14, ES_AUTOHSCROLL

	LTEXT			"Limit (sec.):", IDC_STATIC, 202, 2, 54, 8, SS_LEFT
	EDITTEXT		IDC_SPEEDMETER_LIMIT, 202, 14, 54, 14, ES_AUTOHSCROLL | ES_NUMBER
	CONTROL			"", IDC_SPEEDMETER_UPDOWN, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_NOTHOUSANDS | UDS_SETBUDDYINT | UDS_WRAP, 0, 0, 0, 0

	CONTROL			"", IDC_SPEEDMETER_RESULT, WC_LISTVIEW, WS_VISIBLE | WS_TABSTOP | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS | LVS_AUTOARRANGE, 0, 34, 256, 168

	DEFPUSHBUTTON	"Start", IDC_SPEEDMETER_START, 154, 206, 50, 14
	PUSHBUTTON		"Clear", IDC_SPEEDMETER_CLEAR, 208, 206, 50, 14
}

IDD_PAGE_URLDECODER DIALOG 0, 0, 254, 220
STYLE DS_SHELLFONT | WS_CHILDWINDOW | NOT WS_VISIBLE
FONT 8, "MS Shell Dlg"
{
	LTEXT			"Link:", IDC_STATIC, 0, 2, 256, 8, SS_LEFT
	EDITTEXT		IDC_URLDECODER_LINK, 0, 14, 256, 14, ES_AUTOHSCROLL

	EDITTEXT		IDC_URLDECODER_RESULT, 0, 34, 256, 168, WS_VSCROLL | ES_MULTILINE | ES_READONLY

	DEFPUSHBUTTON	"Start", IDC_URLDECODER_START, 154, 206, 50, 14
	PUSHBUTTON		"Clear", IDC_URLDECODER_CLEAR, 208, 206, 50, 14
}

IDD_PAGE_HOSTADDR DIALOG 0, 0, 254, 220
STYLE DS_SHELLFONT | WS_CHILDWINDOW | NOT WS_VISIBLE
FONT 8, "MS Shell Dlg"
{
	LTEXT			"Domain:", IDC_STATIC, 0, 2, 256, 8, SS_LEFT
	EDITTEXT		IDC_HOSTADDR_HOST, 0, 14, 256, 14, ES_AUTOHSCROLL

	CONTROL			"", IDC_HOSTADDR_RESULT, WC_LISTVIEW, WS_VISIBLE | WS_TABSTOP | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS | LVS_AUTOARRANGE, 0, 34, 256, 168

	DEFPUSHBUTTON	"Start", IDC_HOSTADDR_START, 154, 206, 50, 14
	PUSHBUTTON		"Clear", IDC_HOSTADDR_CLEAR, 208, 206, 50, 14
}

IDD_PAGE_URLINFO DIALOG 0, 0, 254, 220
STYLE DS_SHELLFONT | WS_CHILDWINDOW | NOT WS_VISIBLE
FONT 8, "MS Shell Dlg"
{
	LTEXT			"Link:", IDC_STATIC, 0, 2, 256, 8, SS_LEFT
	EDITTEXT		IDC_URLINFO_LINK, 0, 14, 256, 14, ES_AUTOHSCROLL

	EDITTEXT		IDC_URLINFO_HEADER, 0, 34, 256, 168, WS_VSCROLL | ES_MULTILINE | ES_READONLY
	CONTROL			"", IDC_URLINFO_RESULT, WC_LISTVIEW, WS_VISIBLE | WS_TABSTOP | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS | LVS_AUTOARRANGE, 0, 34, 256, 168

	AUTOCHECKBOX	"Get full result", IDC_URLINFO_HEADER_CHK, 0, 206, 150, 14, BS_VCENTER

	DEFPUSHBUTTON	"Start", IDC_URLINFO_START, 154, 206, 50, 14
	PUSHBUTTON		"Clear", IDC_URLINFO_CLEAR, 208, 206, 50, 14
}

IDD_PAGE_IP DIALOG 0, 0, 254, 220
STYLE DS_SHELLFONT | WS_CHILDWINDOW | NOT WS_VISIBLE
FONT 8, "MS Shell Dlg"
{
	CONTROL			"", IDC_IP_RESULT, WC_LISTVIEW, WS_VISIBLE | WS_TABSTOP | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS | LVS_AUTOARRANGE, 0, 2, 256, 200

	AUTOCHECKBOX	"Get external ip", IDC_IP_EXTERNAL_CHK, 0, 206, 180, 14, BS_VCENTER

	DEFPUSHBUTTON	"Start", IDC_IP_REFRESH, 208, 206, 50, 14
}

IDD_PAGE_WHOIS DIALOG 0, 0, 254, 220
STYLE DS_SHELLFONT | WS_CHILDWINDOW | NOT WS_VISIBLE
FONT 8, "MS Shell Dlg"
{
	LTEXT			"Domain:", IDC_STATIC, 0, 2, 150, 8, SS_LEFT
	EDITTEXT		IDC_WHOIS_HOST, 0, 14, 150, 14, ES_AUTOHSCROLL

	LTEXT			"Server:", IDC_STATIC, 156, 2, 104, 8, SS_LEFT
	COMBOBOX		IDC_WHOIS_SERVER, 156, 14, 104, 14, CBS_DROPDOWN | CBS_HASSTRINGS

	EDITTEXT		IDC_WHOIS_RESULT, 0, 34, 258, 168, WS_VSCROLL | ES_MULTILINE | ES_READONLY

	DEFPUSHBUTTON	"Start", IDC_WHOIS_START, 154, 206, 50, 14
	PUSHBUTTON		"Clear", IDC_WHOIS_CLEAR, 208, 206, 50, 14
}

IDD_PAGE_SHAREDINFO DIALOG 0, 0, 254, 220
STYLE DS_SHELLFONT | WS_CHILDWINDOW | NOT WS_VISIBLE
FONT 8, "MS Shell Dlg"
{
	CONTROL			"", IDC_SHAREDINFO, WC_LISTVIEW, WS_VISIBLE | WS_TABSTOP | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS | LVS_AUTOARRANGE, 0, 0, 256, 200

	DEFPUSHBUTTON	"Start", IDC_SHAREDINFO_START, 154, 206, 50, 14
	PUSHBUTTON		"Clear", IDC_SHAREDINFO_CLEAR, 208, 206, 50, 14
}

IDD_PAGE_SYSINFO DIALOG 0, 0, 254, 220
STYLE DS_SHELLFONT | WS_CHILDWINDOW | NOT WS_VISIBLE
FONT 8, "MS Shell Dlg"
{
	CONTROL			"", IDC_SYSINFO, WC_LISTVIEW, WS_VISIBLE | WS_TABSTOP | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS | LVS_AUTOARRANGE, 0, 0, 256, 216
}

IDD_PAGE_TCP_STATISTIC DIALOG 0, 0, 254, 220
STYLE DS_SHELLFONT | WS_CHILDWINDOW | NOT WS_VISIBLE
FONT 8, "MS Shell Dlg"
{
	CONTROL			"", IDC_TCP_STATISTIC, WC_LISTVIEW, WS_TABSTOP | WS_VSCROLL | WS_BORDER | LVS_SHOWSELALWAYS | LVS_REPORT, 0, 0, 256, 216
}

IDD_PAGE_UDP_STATISTIC DIALOG 0, 0, 254, 220
STYLE DS_SHELLFONT | WS_CHILDWINDOW | NOT WS_VISIBLE
FONT 8, "MS Shell Dlg"
{
	CONTROL			"", IDC_UDP_STATISTIC, WC_LISTVIEW, WS_VISIBLE | WS_TABSTOP | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS | LVS_AUTOARRANGE, 0, 0, 256, 216
}

IDD_PAGE_ICMP_STATISTIC DIALOG 0, 0, 254, 220
STYLE DS_SHELLFONT | WS_CHILDWINDOW | NOT WS_VISIBLE
FONT 8, "MS Shell Dlg"
{
	CONTROL			"", IDC_ICMP_STATISTIC, WC_LISTVIEW, WS_VISIBLE | WS_TABSTOP | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS | LVS_AUTOARRANGE, 0, 0, 256, 216
}

IDD_PAGE_IP_STATISTIC DIALOG 0, 0, 254, 220
STYLE DS_SHELLFONT | WS_CHILDWINDOW | NOT WS_VISIBLE
FONT 8, "MS Shell Dlg"
{
	CONTROL			"", IDC_IP_STATISTIC, WC_LISTVIEW, WS_VISIBLE | WS_TABSTOP | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS | LVS_AUTOARRANGE, 0, 0, 256, 216
}

//
// String resources
//
STRINGTABLE
BEGIN
	IDS_FILE "File"
	IDS_SETTINGS "Settings"
	IDS_HELP "Help"

	IDS_EXIT "Exit"
	IDS_ALWAYSONTOP_CHK "Always on top"
	IDS_CHECKUPDATES_CHK "Periodically check for updates (recommended)"
	IDS_LANGUAGE "Language"
	IDS_WEBSITE "Website"
	IDS_CHECKUPDATES "Check for updates"
	IDS_DONATE "Give thanks!"
	IDS_ABOUT "About"

	IDS_CLOSE "Close"

	IDS_CATEGORY_TOOLS "Tools"
	IDS_CATEGORY_INFORMATION "Information"
	IDS_CATEGORY_STATISTICS "Statistics"

	IDS_TOOL_PING "Ping"
	IDS_TOOL_PING_INFO "sdf"
	IDS_TOOL_SPEED "Download speed"
	IDS_TOOL_SPEED_INFO "sdf"
	IDS_TOOL_DECODER "Url decoder"
	IDS_TOOL_DECODER_INFO "dsf"
	IDS_TOOL_INFORMATION "Link information"
	IDS_TOOL_INFORMATION_INFO "Link information"
	IDS_TOOL_HOSTADDRESS "Host address"
	IDS_TOOL_HOSTADDRESS_INFO "sdf"
	IDS_TOOL_WHOIS "Whois"
	IDS_TOOL_WHOIS_INFO "dsf"
	IDS_TOOL_IP "IP"
	IDS_TOOL_IP_INFO "asd"
	IDS_TOOL_SHARED "Shared resources"
	IDS_TOOL_SHARED_INFO "asd"
	IDS_TOOL_SYSTEM "System"
	IDS_TOOL_SYSTEM_INFO "da"
	IDS_TOOL_TCP "TCP"
	IDS_TOOL_TCP_INFO "das"
	IDS_TOOL_UDP "UDP"
	IDS_TOOL_UDP_INFO "das"
	IDS_TOOL_ICMP "ICMP"
	IDS_TOOL_ICMP_INFO "asd"
	IDS_TOOL_IPSTATS "IP"
	IDS_TOOL_IPSTATS_INFO "das"
END

//
// Icon resources
//
IDI_MAIN				ICON			"res\\main.ico"
IDI_FOLDER				ICON			"res\\folder.ico"
IDI_FOLDER_CURRENT		ICON			"res\\folder_current.ico"
IDI_SUCCESS				ICON			"res\\success.ico"
IDI_FAULT				ICON			"res\\error.ico"

//
// Manifest resource
//
1			RT_MANIFEST		"res\\manifest.xml"

//
// Version Information resources
//
VS_VERSION_INFO VERSIONINFO
FILEVERSION		APP_VERSION_RES
PRODUCTVERSION	APP_VERSION_RES
FILEOS			VOS__WINDOWS32
FILETYPE		VFT_APP
FILESUBTYPE		VFT2_UNKNOWN
FILEFLAGSMASK	0x00000000
FILEFLAGS		VS_FF_PATCHED | VS_FF_PRERELEASE
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "Comments", APP_COMMENT
			VALUE "CompanyName", APP_AUTHOR
			VALUE "FileDescription", APP_NAME
			VALUE "FileVersion", APP_VERSION
			VALUE "InternalName", APP_NAME_SHORT
			VALUE "LegalCopyright", APP_COPYRIGHT
			VALUE "OriginalFilename", APP_NAME_SHORT ".exe"
			VALUE "ProductName", APP_NAME
			VALUE "ProductVersion", APP_VERSION
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1252
	END
END
