#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#include "resource.h"
#include "rconfig.h"
#include "app.h"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

//
// Accelerator resources
//
IDA_MAIN ACCELERATORS
BEGIN
	VK_F1, IDM_ABOUT, VIRTKEY, NOINVERT
	VK_F5, IDM_REFRESH, VIRTKEY, NOINVERT
	VK_F11, IDM_ZOOM, VIRTKEY, NOINVERT
END

//
// Menu resources
//
IDM_MAIN MENU
{
    POPUP "File"
    {
        MENUITEM "Exit\tEsc", IDM_EXIT
    }
    POPUP "Settings"
    {
        MENUITEM "Always on top", IDM_ALWAYSONTOP_CHK
        MENUITEM "Periodically check for updates (recommended)", IDM_CHECKUPDATES_CHK
    }
    POPUP "Help"
    {
        MENUITEM "Website", IDM_WEBSITE
        MENUITEM "Check for updates", IDM_CHECK_UPDATES
        MENUITEM "About", IDM_ABOUT
    }
}

IDM_LISTVIEW MENU
{
    POPUP ""
    {
        MENUITEM "Copy", IDC_LISTVIEW_COPY
        MENUITEM "Copy value", IDC_LISTVIEW_COPY_VALUE
        MENUITEM SEPARATOR
        MENUITEM "Save to file...", IDC_LISTVIEW_SAVE_AS
    }
}

//
// Dialog resources
//
IDD_MAIN DIALOG 0, 0, 405, 250
STYLE DS_CENTER | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_GROUP
CAPTION APP_NAME
MENU IDM_MAIN
FONT 8, "Ms Shell Dlg"
{
	CONTROL         "", IDC_ITEMLIST, WC_TREEVIEW, WS_TABSTOP | WS_BORDER | TVS_HASBUTTONS | TVS_FULLROWSELECT | TVS_LINESATROOT | TVS_SHOWSELALWAYS | TVS_INFOTIP | TVS_TRACKSELECT, 8, 8, 125, 219
	CONTROL         "", IDC_STATUSBAR, STATUSCLASSNAME, 0, 0, 0, 0, 0
}

IDD_PAGE_PING DIALOG 0, 0, 255, 220
STYLE DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW
FONT 8, "MS Shell Dlg"
{
    LTEXT           "", IDC_TITLE, 8, 7, 240, 8, SS_LEFT
    LTEXT           "", IDC_DESCRIPTION, 8, 18, 240, 8, SS_LEFT

    LTEXT           "Address:", IDC_STATIC, 0, 40, 195, 8, SS_LEFT
    EDITTEXT        IDC_PING_HOST, 0, 52, 195, 14, ES_AUTOHSCROLL

    LTEXT           "Retries:", IDC_STATIC, 200, 40, 55, 8, SS_LEFT
    EDITTEXT        IDC_PING_RETRIES, 200, 52, 55, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_PING_UPDOWN, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_NOTHOUSANDS | UDS_SETBUDDYINT | UDS_WRAP, 0, 0, 0, 0

    CONTROL         "", IDC_PING_RESULT, WC_LISTVIEW, WS_TABSTOP | WS_VSCROLL | WS_BORDER | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_NOSORTHEADER, 0, 75, 255, 125

    DEFPUSHBUTTON   "Start", IDC_PING_START, 154, 206, 50, 14
    PUSHBUTTON		"Clear", IDC_PING_CLEAR, 206, 206, 50, 14
}

IDD_PAGE_SPEEDMETER DIALOG 0, 0, 255, 220
STYLE DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW
FONT 8, "MS Shell Dlg"
{
    LTEXT           "", IDC_TITLE, 8, 7, 240, 8, SS_LEFT
    LTEXT           "", IDC_DESCRIPTION, 8, 18, 240, 8, SS_LEFT

    LTEXT           "Link:", IDC_STATIC, 0, 40, 195, 8, SS_LEFT
    EDITTEXT        IDC_SPEEDMETER_LINK, 0, 52, 195, 14, ES_AUTOHSCROLL

    LTEXT           "Limit (sec.):", IDC_STATIC, 200, 40, 55, 8, SS_LEFT
    EDITTEXT        IDC_SPEEDMETER_LIMIT, 200, 52, 55, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPEEDMETER_UPDOWN, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_NOTHOUSANDS | UDS_SETBUDDYINT | UDS_WRAP, 0, 0, 0, 0

	CONTROL         "", IDC_SPEEDMETER_RESULT, WC_LISTVIEW, WS_TABSTOP | WS_VSCROLL | WS_BORDER | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_NOCOLUMNHEADER, 0, 75, 255, 125

    DEFPUSHBUTTON   "Start", IDC_SPEEDMETER_START, 154, 206, 50, 14
    PUSHBUTTON		"Clear", IDC_SPEEDMETER_CLEAR, 206, 206, 50, 14
}

IDD_PAGE_URLDECODER DIALOG 0, 0, 255, 220
STYLE DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW
FONT 8, "MS Shell Dlg"
{
    LTEXT           "", IDC_TITLE, 8, 7, 240, 8, SS_LEFT
    LTEXT           "", IDC_DESCRIPTION, 8, 18, 240, 8, SS_LEFT

    LTEXT           "Link:", IDC_STATIC, 0, 40, 255, 8, SS_LEFT
    EDITTEXT        IDC_URLDECODER_LINK, 0, 52, 255, 14, ES_AUTOHSCROLL

	LTEXT           "Result:", IDC_STATIC, 0, 70, 255, 8, SS_LEFT
	EDITTEXT        IDC_URLDECODER_RESULT, 0, 82, 255, 118, WS_VSCROLL | ES_MULTILINE | ES_READONLY

    DEFPUSHBUTTON   "Start", IDC_URLDECODER_START, 154, 206, 50, 14
    PUSHBUTTON		"Clear", IDC_URLDECODER_CLEAR, 206, 206, 50, 14
}

IDD_PAGE_HOSTADDR DIALOG 0, 0, 255, 220
STYLE DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW
FONT 8, "MS Shell Dlg"
{
    LTEXT           "", IDC_TITLE, 8, 7, 240, 8, SS_LEFT
    LTEXT           "", IDC_DESCRIPTION, 8, 18, 240, 8, SS_LEFT

    LTEXT           "Domain:", IDC_STATIC, 0, 40, 255, 8, SS_LEFT
    EDITTEXT        IDC_HOSTADDR_HOST, 0, 52, 255, 14, ES_AUTOHSCROLL

	LTEXT           "Address list:", IDC_STATIC, 0, 70, 255, 8, SS_LEFT
	EDITTEXT        IDC_HOSTADDR_RESULT, 0, 82, 255, 118, WS_VSCROLL | ES_MULTILINE | ES_READONLY

    DEFPUSHBUTTON   "Start", IDC_HOSTADDR_START, 154, 206, 50, 14
    PUSHBUTTON		"Clear", IDC_HOSTADDR_CLEAR, 206, 206, 50, 14
}

IDD_PAGE_URLINFO DIALOG 0, 0, 255, 220
STYLE DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW
FONT 8, "MS Shell Dlg"
{
    LTEXT           "", IDC_TITLE, 8, 7, 240, 8, SS_LEFT
    LTEXT           "", IDC_DESCRIPTION, 8, 18, 240, 8, SS_LEFT

    LTEXT           "Link:", IDC_STATIC, 0, 40, 255, 8, SS_LEFT
    EDITTEXT        IDC_URLINFO_LINK, 0, 52, 255, 14, ES_AUTOHSCROLL

    EDITTEXT        IDC_URLINFO_HEADER, 0, 75, 255, 125, WS_VSCROLL | ES_MULTILINE | ES_READONLY
    CONTROL         "", IDC_URLINFO_RESULT, WC_LISTVIEW, WS_TABSTOP | WS_VSCROLL | WS_BORDER | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_NOCOLUMNHEADER, 0, 75, 255, 125

	AUTOCHECKBOX    "Get full result", IDC_URLINFO_HEADER_CHK, 0, 206, 150, 14, BS_VCENTER

    DEFPUSHBUTTON   "Start", IDC_URLINFO_START, 154, 206, 50, 14
    PUSHBUTTON		"Clear", IDC_URLINFO_CLEAR, 206, 206, 50, 14
}

IDD_PAGE_IP DIALOG 0, 0, 255, 220
STYLE DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW
FONT 8, "MS Shell Dlg"
{
    LTEXT           "", IDC_TITLE, 8, 7, 240, 8, SS_LEFT
    LTEXT           "", IDC_DESCRIPTION, 8, 18, 240, 8, SS_LEFT

	CONTROL         "", IDC_IP_RESULT, WC_LISTVIEW, WS_TABSTOP | WS_VSCROLL | WS_BORDER | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_NOCOLUMNHEADER, 0, 40, 255, 160

	AUTOCHECKBOX    "Get external ip", IDC_IP_EXTERNAL_CHK, 0, 206, 180, 14, BS_VCENTER

    DEFPUSHBUTTON	"Start", IDC_IP_REFRESH, 206, 206, 50, 14
}

IDD_PAGE_WHOIS DIALOG 0, 0, 255, 220
STYLE DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW
FONT 8, "MS Shell Dlg"
{
    LTEXT           "", IDC_TITLE, 8, 7, 240, 8, SS_LEFT
    LTEXT           "", IDC_DESCRIPTION, 8, 18, 240, 8, SS_LEFT

    LTEXT           "Domain:", IDC_STATIC, 0, 40, 145, 8, SS_LEFT
    EDITTEXT        IDC_WHOIS_HOST, 0, 52, 145, 14, ES_AUTOHSCROLL

    LTEXT           "Server:", IDC_STATIC, 150, 40, 105, 8, SS_LEFT
    COMBOBOX        IDC_WHOIS_SERVER, 150, 52, 105, 14, CBS_DROPDOWN | CBS_HASSTRINGS

    LTEXT           "Result:", IDC_STATIC, 0, 70, 255, 8, SS_LEFT
    EDITTEXT        IDC_WHOIS_RESULT, 0, 82, 255, 118, WS_VSCROLL | ES_MULTILINE | ES_READONLY

    DEFPUSHBUTTON   "Start", IDC_WHOIS_START, 154, 206, 50, 14
    PUSHBUTTON		"Clear", IDC_WHOIS_CLEAR, 206, 206, 50, 14
}

IDD_PAGE_SHAREDINFO DIALOG 0, 0, 255, 220
STYLE DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW
FONT 8, "MS Shell Dlg"
{
    LTEXT           "", IDC_TITLE, 8, 7, 240, 8, SS_LEFT
    LTEXT           "", IDC_DESCRIPTION, 8, 18, 240, 8, SS_LEFT

	CONTROL         "", IDC_SHAREDINFO, WC_LISTVIEW, WS_TABSTOP | WS_VSCROLL | WS_BORDER | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_NOSORTHEADER, 0, 40, 255, 160

    DEFPUSHBUTTON   "Start", IDC_SHAREDINFO_START, 154, 206, 50, 14
    PUSHBUTTON		"Clear", IDC_SHAREDINFO_CLEAR, 206, 206, 50, 14
}

IDD_PAGE_SYSINFO DIALOG 0, 0, 255, 220
STYLE DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW
FONT 8, "MS Shell Dlg"
{
    LTEXT           "", IDC_TITLE, 8, 7, 240, 8, SS_LEFT
    LTEXT           "", IDC_DESCRIPTION, 8, 18, 240, 8, SS_LEFT

	CONTROL         "", IDC_SYSINFO, WC_LISTVIEW, WS_TABSTOP | WS_VSCROLL | WS_BORDER | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_NOCOLUMNHEADER, 0, 40, 255, 179
}

IDD_PAGE_TCP_STATISTIC DIALOG 0, 0, 255, 220
STYLE DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW
FONT 8, "MS Shell Dlg"
{
    LTEXT           "", IDC_TITLE, 8, 7, 240, 8, SS_LEFT
    LTEXT           "", IDC_DESCRIPTION, 8, 18, 240, 8, SS_LEFT

	CONTROL         "", IDC_TCP_STATISTIC, WC_LISTVIEW, WS_TABSTOP | WS_VSCROLL | WS_BORDER | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_NOCOLUMNHEADER, 0, 40, 255, 160
	AUTOCHECKBOX    "Retrieve IPv6 information", IDC_TCP_STATISTIC_CHK, 0, 206, 255, 14, BS_VCENTER
}

IDD_PAGE_UDP_STATISTIC DIALOG 0, 0, 255, 220
STYLE DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW
FONT 8, "MS Shell Dlg"
{
    LTEXT           "", IDC_TITLE, 8, 7, 240, 8, SS_LEFT
    LTEXT           "", IDC_DESCRIPTION, 8, 18, 240, 8, SS_LEFT

	CONTROL         "", IDC_UDP_STATISTIC, WC_LISTVIEW, WS_TABSTOP | WS_VSCROLL | WS_BORDER | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_NOCOLUMNHEADER, 0, 40, 255, 160

    AUTOCHECKBOX    "Retrieve IPv6 information", IDC_UDP_STATISTIC_CHK, 0, 206, 255, 14, BS_VCENTER
}

IDD_PAGE_ICMP_STATISTIC DIALOG 0, 0, 255, 220
STYLE DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW
FONT 8, "MS Shell Dlg"
{
    LTEXT           "", IDC_TITLE, 8, 7, 240, 8, SS_LEFT
    LTEXT           "", IDC_DESCRIPTION, 8, 18, 240, 8, SS_LEFT

	CONTROL         "", IDC_ICMP_STATISTIC, WC_LISTVIEW, WS_TABSTOP | WS_VSCROLL | WS_BORDER | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_NOCOLUMNHEADER, 0, 40, 255, 160
	AUTOCHECKBOX    "Retrieve IPv6 information", IDC_ICMP_STATISTIC_CHK, 0, 206, 255, 14, BS_VCENTER
}

IDD_PAGE_IP_STATISTIC DIALOG 0, 0, 255, 220
STYLE DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW
FONT 8, "MS Shell Dlg"
{
    LTEXT           "", IDC_TITLE, 8, 7, 240, 8, SS_LEFT
    LTEXT           "", IDC_DESCRIPTION, 8, 18, 240, 8, SS_LEFT

	CONTROL         "", IDC_IP_STATISTIC, WC_LISTVIEW, WS_TABSTOP | WS_VSCROLL | WS_BORDER | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_NOCOLUMNHEADER, 0, 40, 255, 160
	AUTOCHECKBOX    "Retrieve IPv6 information", IDC_IP_STATISTIC_CHK, 0, 206, 255, 14, BS_VCENTER
}

//
// Icon resources
//
IDI_MAIN	       		ICON           "res\\main.ico"
IDI_FOLDER	       		ICON           "res\\folder.ico"
IDI_FOLDER_CURRENT	    ICON           "res\\folder_current.ico"
IDI_SUCCESS       		ICON           "res\\success.ico"
IDI_FAULT       		ICON           "res\\error.ico"

//
// Manifest resource
//
1			RT_MANIFEST		"res\\manifest.xml"

//
// Version Information resources
//
VS_VERSION_INFO VERSIONINFO
FILEVERSION		APP_VERSION_RES
PRODUCTVERSION	APP_VERSION_RES
FILEOS			VOS__WINDOWS32
FILETYPE		VFT_APP
FILESUBTYPE		VFT2_UNKNOWN
FILEFLAGSMASK	0x00000000
FILEFLAGS		VS_FF_PATCHED | VS_FF_PRERELEASE
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "Comments", APP_COMMENT
			VALUE "CompanyName", APP_AUTHOR
			VALUE "FileDescription", APP_NAME
			VALUE "FileVersion", APP_VERSION
			VALUE "InternalName", APP_NAME_SHORT
			VALUE "LegalCopyright", APP_COPYRIGHT
			VALUE "OriginalFilename", APP_NAME_SHORT ".exe"
			VALUE "ProductName", APP_NAME
			VALUE "ProductVersion", APP_VERSION
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1252
	END
END
